<div class='container'>
    <div class='row'>
        <div class='span12'>
            <div class='well'>
                <div class='form-group'>
                    <label class="control-label" for="inputProjectName">Name:</label>
                    <div class="controls">
                        <input type="text" id="inputProjectName" ng-model="project.name"/>
                    </div>
                </div>
                <div class='form-group'>
                    <label class="control-label" for="inputProjectInfo">Info:</label>
                    <div class="controls">
                        <textarea type="textarea" id="inputProjectInfo" ng-model="project.info"> </textarea>
                    </div>
                </div>
                <div class='form-group'>
                    Pick an cover photo: <input type="file" ng-model="project.coverimage" accept="image/*" multiple app-filereader /><br />
                    <img ng-src="{{project.coverimage}}" width="300" /><br />
                    <button ng-click="project.coverimage = null" ng-show="!!project.coverimage">Remove image</button><br />
                </div>
                <div ng-include="'components/image/image.html'" ></div>
                <div class="control-group">
                    <div class="controls">
                        <!-- user-detail.html: -->
                        <a ng-show="isUpdate()" ng-click="cancel()" class="btn btn-small">cancel</a>
                        <a ng-show="isUpdate()" ng-click="updateProject()" class="btn btn-small btn-primary">update user</a>
                        <a ng-show="isCreate()" ng-click="addProject()" class="btn btn-small btn-primary">Add New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>