<div class="container">
    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputProjectName">Name:</label>
            <div class="controls">
                <input type="text" id="inputProjectName" ng-model="project.name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputProjectInfo">Info:</label>
            <div class="controls">
                <textarea type="textarea" id="inputProjectInfo" ng-model="project.info"> </textarea>
            </div>
            <div btf-markdown="project.info"></div>
        </div>
        <form novalidate>
            Pick an cover photo: <input type="file" ng-model="coverimage.rawdata" accept="image/*" multiple app-filereader /><br />
            <img  ng-src="{{coverimage.rawdata}}" width="300" /><br />
            <button ng-click="coverimage.rawdata = null" ng-show="!!coverimage.rawdata">Remove image</button><br />
        </form>
        <form novalidate>
            Pick an image-file: <input type="file" ng-model="images" accept="image/*" multiple app-filereader /><br />
            <img ng-repeat="image in images" ng-src="{{image}}" width="300" /><br />
            <button ng-click="images = null" ng-show="!!images">Remove {{images.length}} images</button><br />
        </form>
        <div class="control-group">
            <div class="controls">
                <!-- user-detail.html: -->
                <a ng-show="isUpdate()" ng-click="cancel()" class="btn btn-small">Cancel</a>
                <a ng-show="isUpdate()" ng-click="updateProject()" class="btn btn-small btn-primary">Update</a>
                <a ng-show="isCreate()" ng-click="addProject()" class="btn btn-small btn-primary">Add New</a>
            </div>
        </div>
    </form>
</div>